<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="verify login">
        <classes>
            <class name="com.book_my_show.BookMyShow_Login"/>
            <class name="com.book_my_show.YopMail_Login"/>
        </classes>
    </test>
</suite>